-
	var clearPhone = function(x) {
		return x.replace(/\D/g, '');
	}

	var header = {
		logo: 'img/logo.svg'
	}

header.header
	.container
		.header__inner
			a.logo(href="/")
				img.logo__image(src=header.logo, alt="")
			.menu-toggle
				i.icon-toggle
					span
					span
					span
